body {
  background: -webkit-linear-gradient(top, #410099 100px, black 950px)!important;
  font-family: 'Open Sans', "Hiragino Sans", Arial, sans-serif!important;
}

.promo-header {
  background-color: #410099;
  font-weight: 600;
  font-size: 11px;
}

.promo {
  padding-top: 10px;
  color: white;
}

.ui.borderless.menu {
  padding-top: 5px;
  box-shadow: none;
  border: none;
  background-color: white;
  color: #410099;
}

.navbar .item, .navbar a {
  color: #410099!important;
  font-weight: bolder!important;
}

.ui.grid, .middle {
  background: none;
  color: white;
  align-content: flex-start;
}

.middle .Row {
  margin: auto 5%;
}

.middle-menu {
  background: -webkit-linear-gradient(#410099, #000);
}

.middle-top {
  background: none!important;
}

.content-description p {
  font-size: 20px;
}

.content-description {
  padding-top: 5%;
  margin-right: 50%;
  margin-left: 8%;
}


.middle-middle .anime-image-list img {
  border-radius: 20px;
  height: 19em;
}

.middle-bottom {
  background: rgb(65, 0, 153) center center;
  background: radial-gradient(circle, rgba(65, 0, 153, 1) 30%, rgba(0, 0, 0, 1) 100%);
}

.trial {
  padding: 2.5em 5em;
}

.trial a {
  color: white;
  background: #FFC72C;
}

.trialHeader {
  font-size: 40px;
}

.trialContent {
  font-size: 1em;
}


.footer-background {
  margin-top: 1em;
  margin-bottom: 3%;
  color: white;
  padding: 1% 2%;
  background-color: #410099;
}

.footer-background .footer-navigation a.item {
  color: white!important;
}

.social-media .Image {
  width: 20px;
  height: 20px;
}
